:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
}

body {
  background-image: url(./img/books.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-author {
  font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.github-link {
  font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(214, 123, 3, 1) 10%,
    rgba(214, 141, 3, 1) 20%,
    rgba(249, 235, 22, 1) 30%,
    rgba(109, 161, 65, 1) 40%,
    rgba(56, 196, 152, 1) 50%,
    rgba(30, 84, 190, 1) 60%,
    rgba(149, 28, 204, 1) 70%,
    rgba(201, 37, 137, 1) 80%,
    rgba(219, 13, 83, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github-logo {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 62px;
  opacity: 0.9;
  transition: transform 0.4s ease-in-out;
}

.github-logo:hover {
  transform: rotate(720deg);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add-book {
  appearance: none;
  font-size: 3rem;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin: 70px 0 10px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.btn-add-book:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px 5px rgba(106, 106, 106, 0.7);
}

.para-add-book,
.footer {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
}

main {
  display: flex;
  width: 100%;
  margin: 50px 0;
}

.modal {
  min-width: 255px;
  height: fit-content;
  padding: 5px 5px 20px 15px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  position: fixed;
  top: 25%;
  left: calc((100vw / 2) - (255px / 2));
}

.modal::backdrop {
  backdrop-filter: blur(3px);
}

form {
  display: grid;
  grid-template-rows: fit-content 1fr;
  gap: 20px;
}

li {
  list-style-type: none;
  font-weight: 700;
}

input {
  margin-bottom: 20px;
}

input,
label {
  display: block;
}

input[type='text'],
input[type='number'] {
  appearance: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 2px solid rgb(228, 233, 224);
}

label {
  margin-left: 2px;
}

.book-status-container {
  display: flex;
  column-gap: 30px;
  justify-content: flex-start;
}

input[type='radio'] {
  border: 2px solid rgb(228, 233, 224);
  height: 15px;
  width: 15px;
  border-radius: 50px;
}

.bookshelf {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.card {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 5px 20px 15px;
  min-height: 170px;
  max-height: 300px;
  border-radius: 0px;
  box-shadow: 0 0 5px 2px rgb(138, 140, 140);
  line-height: 1.2rem;
  border-left: 5px solid #4c0519;
  display: grid;
  grid-template-rows: fit-content 1fr;
}

.card-close {
  height: 20px;
  width: 20px;
  cursor: pointer;
  grid-row: 1 / -1;
  justify-self: end;
}

.card-header {
  font-weight: 700;
}

.card-text {
  margin-bottom: 10px;
}

.book-status {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.book-status-btn,
.add-book-modal-btn {
  padding: 2px 5px;
  width: 65px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(106, 106, 106, 0.7);
  color: rgba(132, 132, 132, 0.7);
  cursor: pointer;
}

.add-book-modal-btn {
  width: fit-content;
  color: rgba(0, 0, 0, 1);
  padding: 5px 5px;
  font-size: 1rem;
}

.book-status-btn:hover,
.add-book-modal-btn:hover {
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.not-read[data-status='red'],
.reading[data-status='yellow'],
.read[data-status='green'] {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.not-read[data-status='red'] {
  background-color: #fc6c64;
}

.reading[data-status='yellow'] {
  background-color: #fcfca4;
}

.read[data-status='green'] {
  background-color: #bcecb4;
}

.footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-size: 1.1rem;
}

.para-footer {
  font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  color: inherit;
}

a:visited {
  color: rgba(255, 255, 255, 0.9);
}
