:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/books.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
